<!doctype html>
<html>
	<head>
		<meta charset='utf8'>
	</head>
	<body>
		<form method="post" action="/sightings/">
   			{% csrf_token %}
			{% if form.non_field_errors %}
        			<div class="form-group text-error">
            				{{ form.non_field_errors }}
        			</div>
			{% endif %}	
   			{% for field in form.visible_fields %}
        			{{ field.help_text}}
        			{{ field }}
				<br>
        			{% if field.errors %}
            				<span>{{ field.errors|striptags }}</span>
        			{% endif %}
   			{% endfor %}
			<br>
   			<input type="submit" value="Submit">
		</form>
</html>
