<!doctype html>
<html>
	<head>
		<meta charset='utf8'>
		<style>
		body {
 			margin: 2;
			font-family: cursive, sans-serif;
			font-size:18px;
			line-height:1.5;
			color: GhostWhite;
			background-image: url('https://lh3.googleusercontent.com/proxy/gpvHxK5FQ7Dfvrg61osfR3A__Do6RrPL2CJq-ZJj5lcVNWJkuycSuycpDkhqMHeDzRa8aGBc8Xho4SMp5Pi9FUrzhA');
			background-size:cover;
		}
		</style>
	</head>
	<body>
		<h1 style="color:GhostWhite;font-family: cursive, sans-serif;">Please Fill the Form:</h2>
		<form method="post" action="/sightings/">
   			{% csrf_token %}
			{% if form.non_field_errors %}
        			<div class="form-group text-error">
            				{{ form.non_field_errors }}
        			</div>
			{% endif %}	
   			{% for field in form.visible_fields %}
        			{{ field.help_text}}
        			{{ field }}
				<br>
        			{% if field.errors %}
            				<span>{{ field.errors|striptags }}</span>
        			{% endif %}
   			{% endfor %}
			<br>
   			<input type="submit" value="Submit">
		</form>
</html>
