<!DOCTYPE html>
<html>
<head>
    <meta charset='utf8'>
    <style>
        body {
	    margin: 2;
	    font-family: cursive, sans-serif;
	    font-size:18px;
	    line-height:2;
	    color: DarkSlateGray;
	    background-image: url('https://wallpapermemory.com/uploads/786/squirrel-background-hd-1440x900-311648.jpg');
	    background-attachment: fixed;
	    background-size:cover;
	}
    </style>
</head>
<body>
    <h1 style="color: DarkSlateGray; font-family: cursive, sans-serif; line-height: 1;">Please Update Your Spot:</h1>
    <form method="post" action="/sightings/" >
	{% csrf_token %}
        {% for field in form.visible_fields %}
        {{ field.help_text}}
        {{ field }}
	<br>
	{% endfor %}
        <br>
        <input type="submit" value="Update">
    </form>
    <p><a href="{% url 'app:index' %}"><button type="button">Go Back to Index</button></a></p> 
</body>
</html>
